.bw-tag-size-0 {
	font-size: 1em;
}
.bw-tag-size-1 {
	font-size: 1.4em;
}
.bw-tag-size-2 {
	font-size: 1.8em;
}
.bw-tag-size-3 {
	font-size: 2.2em;
}
.bw-tag-size-4 {
	font-size: 2.6em;
}
.bw-tag-size-5 {
	font-size: 3em;
}

.bw-tag-positive {
	color: green;
}

.bw-tag-negative {
	color: red;
}

.bw-tag-active {
	text-decoration: underline;
}