body {
	color: #616161;
	font-family: 'Oxygen', sans-serif;
}

h1 {
	font-size: 4rem;
}

.bw-tag {
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	cursor: pointer;
	margin-right: 2rem;
}

.bw-tag-topic {
	display: inline-block;
	padding: 1.5rem 2rem;
}

.bw-tag-size-0 {
	font-size: 1em;
}
.bw-tag-size-1 {
	font-size: 1.4em;
}
.bw-tag-size-2 {
	font-size: 1.8em;
}
.bw-tag-size-3 {
	font-size: 2.2em;
}
.bw-tag-size-4 {
	font-size: 2.6em;
}
.bw-tag-size-5 {
	font-size: 3em;
}

.bw-positive {
	color: #61AE24;
}

.bw-negative {
	color: #E54028;
}

.bw-tag-active {
	text-decoration: underline;
}


.bw-meta-container {
	flex: 0 0 20rem;
}

.bw-meta-list {
	list-style: none;
	padding: 0;
}

.bw-meta-total {
	margin-bottom: 1rem;
}

@media (min-width: 800px) {
	.bw-container {
		display: flex;
		flex: 0 300px;
	}
}